__pycache__
/datasets/*
*debug*
diffusion_models/*
generation_outputs/*
srun_logs/*
jobs
wandb/*
/scripts/*.slurm

.idea
.vscode
.kiro

checkpoints
datasets
lightning_logs
flow_visualizations

sbatch
notebooks/*
.github
docs

patches
uv.lock
